<% provide(:title, "About") %>
<div class="center jumbotron abt_box">
  <h1 class="abt_title" style="color: #FFF">About CryptoDeck</h1>

  <h2 class="abt_text">
    The original developer, C3lt1c Viking, had a dream back in 2003 to build a brand new social media platform. Inspired by Internet Entrepreneur
    <%= link_to 'Thomas Anderson', 'https://en.wikipedia.org/wiki/Tom_Anderson', target: '_blank' %> to build their own version of a social media
    enterprise. However, still being exceedingly new to programming, and knew nothing about servers or how they operated, they still persisted to
    build a social media platform that would revolutionize the world. However, during the year of 2005, one of C3lt1c's buddies had shown them a
    site that would completely shut down C3lt1c's desires for programming. C3lt1c was introduced to <%= link_to 'Facebook', 'https://www.facebook.com', target: '_blank' %>.
    Completely believing that they had been beat and knew that this new social media platform would take off, C3lt1c Viking destroyed their code, and shut
    down the computers. <br/>
    In the year of 2006, a new social media platform had emerged out and was building hype big time. This new social media began to put that light back
    into C3lt1c's mind. <%= link_to 'Twitter', 'https://www.twitter.com', target: '_blank' %> had given the life back. C3lt1c thought if they can do it,
    so can I! And thus, set out to rebuild the original social media platform. However, C3lt1c did not want to "replicate" the other guys. After spending
    several months on a project, C3lt1c wanted to provide security &amp; anonymity to the end-users. After extensive research and development cycles,
    C3lt1c was unable to make a secured VPN connection per user that logged in. Until they talked with VPN provider and discovered that the goal C3lt1c
    wanted to do was virtually impossible due to lack of funds to handle a VPN connection per-registered user.<br/>
    With that, C3lt1c hung up their hat once again on chasing this dream. <br/>
    For a while, C3lt1c was chasing the Bitcoin craze and was trying to "mine" as much as possible utilizing the crapiest equipment in the world. After
    much failed attempts, C3lt1c decided to discover exactly how the Bitcoin worked, and what is this "Blockchain" network. And with that, education was
    taken place. Once C3lt1c had a firm grasp on the Blockchain structure, they then took some additional classes on Ethical Hacking. Already possessing a
    PhD in Computer Science, and now self-taught blockchain developer as well as self-taught ethical hacker, (thanks to a popular site <%= link_to 'YouTube', 'https://www.youtube.com', target: '_blank' %>),
    C3lt1c decided to utilize their knowledge to rebuild the social media site they have been dreaming of for several years. But we are not even close to starting!<br/>
    <br/>
    After seeing several court cases for "illegal spying", "tracking", and a wide variety of other topics that has caused a lot of social media giants issues,
    they realized that even in the dark of selling personal &amp; private user data, the end-users still use these services. But why? Why continue to use them
    if you know that they collect data like;<br/>
    * Other sites you visit<br/>
    * Martial Status<br/>
    * Pictures (They can use at anytime without permission)<br/>
    * Private messages<br/>
    * GPS Tracking<br/>
    * Cookie Tracking<br/>
    * etc.<br/>
    And then it hit them. It is because its the only platform that their friends are on. Social media giants did the best job of marketing their
    platforms and generating revenue and not too many people are fully aware of the back-side of these social media giants. But what does this
    research have to do with <i>CryptoDeck</i>?<br/>
    After a few months of a quick poll question, C3lt1c realized that people do desire a social media platform that has the same features as the
    others. However, they do not want to be tracked. They do not want their data sold. They just want a standard social media site to allow them
    to make posts and connect with friends. <br/>
    <br/>
    Thus, <strong>CryptoDeck</strong> was born!<br/>
    <br/>
    Utilizing the best framework for scaling the website with ease, secured coding structure, C3lt1c Viking designed &amp; built CryptoDeck with
    Ruby on Rails. With the Beta Testing setup on Heroku to give early access to new features to those who enjoy and test new features, and then
    deploying to Digital Ocean for the Alpha final released version. C3lt1c will not give up on finishing this social media site this time.<br/>
    While finances does seem to play an important part, C3lt1c is funding this operation out of their own pockets. With that, donations are crucial
    to the development cycle of this platform. If you feel desired to make a donation, please click <%= link_to 'here', donate_path %>.
  </h2>

</div>
