<li>
    <%= comment.content %>

    <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :content, placeholder: "Reply to Comment!" %><br/>
      <%= f.submit "Reply", class: 'btn btn-lg btn-primary'  %>
    <% end %>

  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>
