<% provide(:title, 'Sign up') %>

<div class="row usr_box" style="margin-top: 50px;">
  <h1 class="usr_banner">Deck Creator</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :username, id: 'usr_title' %><br/>
      <%= f.text_field :username, class: 'form-control usr_inp', autofocus: true %><br/>
      <br/>
      <%= f.label :email, id: 'usr_title' %><br/>
      <%= f.email_field :email, class: 'form-control usr_inp' %><br/>
      <br/>
      <%= f.label :password, id: 'usr_title' %><br/>
      <%= f.password_field :password, class: 'form-control usr_inp' %><br/>
      <br/>
      <%= f.label :password_confirmation, "Confirmation", id: 'usr_title' %><br/>
      <%= f.password_field :password_confirmation, class: 'form-control usr_inp' %>
      <br/>
      <div style="margin: 0 auto; text-align: center">
        <%= link_to "How To Activate Your New Deck", howto_path, class: 'btn btn-lg btn-outline-danger', style: 'font-size: 25px; cursor: crosshair' %><br/>
      </div>
      <br/>
      <%= f.submit "Create my account", class: "btn btn-lg btn-outline-success" %>
    <% end %>
  </div>
</div>
